#available-instruments-full-page {
    position: absolute;
    height: max-content;
    width: 100vw;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.full-inventory {
    margin: auto;
    width: 95%;
    max-width: 1500px;
}

/* .search-filters {
  display: block;
  width: 100px;
  outline: 1px solid red;
} */

.search-filters,
.search-filters input,
.search-filters select {
  font-size: 1.25em;
}

.search-filters button {
  font-size: 0.9em;
}

.filter-choices {
  display: flex;
  justify-content: space-between;
}

.sorting-choices,
.filter-choices form {
    position: relative;
    display: block;
    /* align-items: flex-start; */
    padding: 0.5em;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
    background-color: var(--ptwo-color-orange);
}

.filter {
  margin: 0 0.5em;
}

.other-options a,
.links a {
  margin-right: 1em;
}

.links,
.other-options {
  margin: 2em auto;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.add-inst {
    display: flex;
    align-items: center;
}

.filter-choices a,
.other-options a,
.links a,
.closeBtn,
.confirmBtn,
.button,
.detail-link,
.go,
.back-button {
  color: var(--ptwo-color-white);
  display: absolute;
  right: 0px;
  width: max-content;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
  background-color: var(--ptwo-color-button);
  text-decoration: none;
  border: none;
}

.filter-choices a:hover,
.other-options a:hover,
.links a:hover,
.closeBtn:hover,
.confirmBtn:hover,
.button:hover,
.detail-link:hover,
.go:hover,
.back-button:hover,
.filter-choices a:focus,
.other-options a:focus,
.links a:focus,
.closeBtn:focus,
.confirmBtn:focus,
.button:focus,
.detail-link:focus,
.go:focus {
  background-color: var(--ptwo-color-gray);
  color: var(--ptwo-color-white);
  box-shadow: none;
  cursor: pointer;
}

.button {
  width: 100%;
  background-color: var(--ptwo-color-red);
}

.go {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.inventory-table {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.inventory-table th,
.inventory-table td {
  background-color: var(--ptwo-color-orange);
}

.inventory-table,
.inventory-table th,
.inventory-table td {
  /* display: block; */
  border: 1px solid var(--ptwo-color-white);
  /* background-color: var(--ptwo-color-orange); */
  /* width: max-content; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-collapse: collapse;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.inventory-table {
  border-style: hidden;
}

.inventory-table td {
  border: 1px solid var(--ptwo-color-white);
}

.inventory-table img {
  max-width: 25px;
  max-height: 25px;
}

.back,
.back-links {
  display: inline-flex;
  position: absolute;
  top: 1em;
  left: 1em;
}

#back-button {
  margin: 0.5em;
  font-size: 1.25em;
  font-weight: 600;
}

.back-links {
  margin-left: 5em;
}

@media (max-width: 850px) {

  .inventory-table {
    width: max-content;
    margin: auto;
    background-color: var(--ptwo-color-green);
    box-shadow: none;
  }

  .inventory-table th {
    display: none;
  }

  .inventory-table td {
    display: flex;
    justify-content: space-between;
    border-radius: 0px;
  }

  .inventory-table td:last-child {
    margin-bottom: 1em;
  }

  .inventory-table td:first-child {
    margin-top: 1em;
  }

  .inventory-table td::before {
    display: flex;
    content: attr(data-th) ":  ";
    font-weight: 600;
    width: 6.5em;
    white-space: nowrap;
    text-align: left;
    align-items: center;
  }

  .inventory-table td {
    border-right: none;
    border-left: none;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
  }

  table td:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top: none;
  }
  
  table td:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: none;
  }

  .button {
    width: 100px;
  }

  .filter-choices {
    display: block;
    margin-bottom: 2em;
  }

  .filter-choices form {
    display: block;
    margin: auto;
    width: max-content;
    margin-bottom: 2em;
  }
  
  .filter {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90%;
  }

  .filter input {
    width: 90%;
  }

  .go {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
  }

  .links,
  .other-options,
  .links a,
  .other-options a {
    display: block;
    margin: 0.5em auto;
    margin-top: 1em;
  }

  .back-links {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 0;
    left: 0;
    margin-bottom: 2em;
  }
  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba( 150, 157, 169, 50%);
}

.modal-content {
  margin: 20% auto;
  padding: 1rem;
  max-width: 20rem;
  height: 11rem;
  background-color: var(--ptwo-color-orange);
  z-index: 2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.close {
  position: relative;
  float: right;
  font-size: 30px;
  cursor: pointer;
}

label {
  display: inline-block;
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
  border-radius: 5px;
  border: none;
  background-color: var(--ptwo-color-white);
}