/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes slideIn {
    from { left: -30rem; }
      to { left: 0; }
}

@keyframes slideOut {
    from { left: 0; }
      to { left: -30rem; }
}

@keyframes stretchOut {
    from {
        transform: scale(1, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes extendUnderline {
    from {
        border-bottom: 1px solid black;
    }

    to {
        border-bottom: 1px solid black;
    }
}


/* ----------------------------------------------------------- */


/* CLASSES FOR SIDE BAR TOGGLE */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.fade-out {
    animation: fadeOut 0.5s ease-out;
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

.slide-in {
    animation: slideIn 0.5s;
}

.slide-out {
    animation: slideOut 0.5s ease-out;
}

.stretch-out {
    transform-origin: top;
    animation: stretchOut 0.25s;
}

.disable-scroll {
    overflow-y: hidden;
}

.enable-scroll {
    overflow-y: scroll;
}


/* ----------------------------------------------------------- */


/* FULL ELEMENT */
/* #full-header {
    margin-bottom: 5rem;
} */

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
    width: 100vw;
}

.nav-link,
.nav-text {
    display: inline;
}

.nav-link > a,
.nav-link-p {
    display: block;
    font-size: 0.85rem;
    color: var(--primary-light);
    transition: 300ms ease-out;
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0;
    margin: auto;
    text-decoration: none;
}

.nav-link > button {
    display: block;
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0;
    margin: auto;
    text-decoration: none;
    border: none;
    background-color: #f3f3f3;
    color: var(--primary-light);
    transition: 300ms ease-out;
}

.nav-link > p,
.nav-text > p {
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav-link > a:hover,
.nav-link-p:hover {
    color: var(--primary);
    cursor: pointer;
}

.nav-link > button:hover {
    color: var(--primary);
    cursor: pointer;
}

#all-links {
    width: 2rem;
    margin-left: 1rem;
}

#nav-links {
    height: 2rem;
    background-color: #f3f3f3;
}

#nav-links-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    z-index: 10;
    padding: 1rem 2rem;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#hello-side {
    font-weight: 100;
}

.nav-links-side-background {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000093;
}

.nav-link-abs > p,
.nav-text-abs > p {
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav-link-abs {
    display: block;
}

.nav-link-abs > a,
.nav-link-abs > p,
.nav-link-abs-header {
    display: block;
    width: 12rem;
    text-align: left;
    padding: 0.5rem 0;
    padding-left: 1rem;
    margin-top: 0;
    text-decoration: none;
}

.nav-link-abs-header > p {
    font-size: 0.85rem;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-bottom: 1px solid black;
}

.nav-link-abs > button {
    display: block;
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0;
    margin: auto;
    text-decoration: none;
    border: none;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    background-color: rgb(235, 235, 235);
    color: var(--primary-light);
    transition: 300ms ease-out;
}

.nav-link-abs > a:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.nav-link-abs > button:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.ind > a {
    text-indent: 2rem;
}

.nav-link-abs-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-abs-main > a {
    display: block;
    width: 7rem; /* Both this and padding on width will change the width of the text */
    text-align: center;
    padding: 0.75rem 0.5rem;
    margin: auto;
    text-decoration: none;
}

.nav-link-abs-main > a:hover {
    color: var(--primary);
    cursor: pointer;
}

#close-button {
    position: absolute;
    top: 0;
    left: 17rem;
    width: max-content;
    color: rgb(235, 235, 235);
    z-index: 15;
    cursor: pointer;
}

#logout-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.85rem;
    color: var(--primary-light);
    margin-bottom: 4rem;
    transition: 300ms ease-out;
}

#logout-link:hover,
#logout-link:focus {
    color: var(--primary-trans);
}

#logout-link:active {
    color: var(--primary);
}

#header-text {
    font-size: .85rem;
    padding: 1rem 1rem;
    margin: 0 1rem 0 1rem;
    cursor: default;
}

#header-logo,
.logo {
    font-size: 1.25rem;
    font-weight: 100;
    width: 10rem;
    margin-left: 1rem;
    align-items: center;
    cursor: pointer;
    color: black;
}

#views-links,
#add-items-links {
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: 1px;
    z-index: 9;
    background-color: white;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

#views-expanded {
    display: block;
    position: absolute;
}


/* ----------------------------------------------------------- */


/* MEDIA QUERIES */
@media (max-width: 40em) {
    #views-cat {
        display: none;
    }

    #add-item-cat {
        display: none;
    }
}

@media (max-width: 28em) {
    #header-text {
        display: none;
    }
}