#add-instrument-full-page {
    position: absolute;
    height: max-content;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.page {
    margin-bottom: 10rem;
}

#add-instrument-header {
    text-align: center;
    margin-bottom: 4rem;
}

#instrument-info-card,
#loan-info-card,
#repair-info-card,
#instrument-button,
#loan-info-button,
#repair-info-button {
    margin: 4rem auto;
    width: min(70vw, 20rem);
    height: max-content;
}

#loan-info-button button,
#repair-info-button button,
#repair-info-form button {
    width: 100%;
    margin: 2rem auto 2rem auto;
    font-size: 1rem;
}

fieldset {
    border: none;
    margin: none;
}

fieldset:disabled input,
fieldset:disabled textarea {
    border-color: white;
    background-color: white;
    color: black;
    /* text-align: center; */
}

/* INSTRUMENT FORM (1st form) */

#instrument-type-input :first-child {
    margin-top: 1rem;
}

#instrument-type-input :last-child {
    margin-bottom: 2rem;
}

#instrument-type-input input {
    margin: auto;
    margin-bottom: 1rem;
    width: 90%;
}

#instrument-image-input {
    margin: auto;
    width: 90%;
    margin-bottom: 2rem;
    height: 4rem;
}

#instrument-image-input input {
    position: relative;
    top: -1.15rem;
    width: 100%;
    height: 100%;
    opacity: 0;
    outline: 1px solid red;
    /* cursor: pointer; */
}

#file-chosen-text {
    position: relative;
    top: 1.25rem;
    margin: auto;
    width: max-content;
    height: max-content;
}

#instrument-accessories-input > div {
    margin: auto;
    margin-bottom: 0.5rem;
    width: 90%;
    font-weight: 100;
    align-items: center;
}

#instrument-accessories-input {
    margin-bottom: 1rem;
}

.checkbox-and-label {
    display: flex;
}

.checkbox-and-label input {
    width: 1.5rem;
    height: 1.2rem;
    vertical-align: middle;
}

.checkbox-and-label label {
    display: inline-block;
    vertical-align: middle;
}

/* END FORM 1 */

/* LOAN INFO FORM (2nd form) */

.loan-input {
    margin: 1rem auto;
    width: 90%;
}

#instrument-contract-input > div {
    margin: auto;
    left: 0;
    margin-bottom: 0.5rem;
    width: 90%;
    font-weight: 100;
    align-items: center;
}

#instrument-contract-input {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#contract {
    margin-left: 0;
}

/* END FORM 2 */

/* REPAIR INFO FORM (3rd form) */

#repair-info-form > form {
    margin-top: 1rem;
}

#repair-info-form > form > fieldset > label {
    display: block;
    width: 90%;
    margin: auto;
    font-weight: 100;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

#repair-info-form > form > fieldset > textarea {
    display: block;
    width: 90%;
    height: 5rem;
    margin: auto;
    margin-bottom: 1rem;
    resize: none;
    font-size: 1rem;
    font-weight: 100;
}

/* END FORM 3 */

#add-instrument-form,
#disabled-instrument-form,
#loan-info-form,
#repair-info-form {
    margin: auto;
    margin-bottom: 2rem;
    height: max-content;
    width: min(70vw, 20rem);
    max-width: 80vw;
}

#add-instrument-submit-div,
#loan-info-submit-div,
#repair-info-submit-div {
    margin: auto;
    width: 90%;
}

#add-instrument-submit-button,
#repair-info-submit-button,
#update-loan-info-button,
#loan-info-submit-button {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
}