#dashboard-full-page {
    position: absolute;
    height: max-content;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#dashboard-full-page {
    text-align: center;
    min-height: 100vh;
}
  
h1 {
    font-weight: 100;
    font-size: clamp(2em, 5vw, 3em);
    margin-top: 5rem;
}
    
.dashboard-graphs {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: auto;
    padding: 4rem;
    margin-bottom: 15rem;
    width: max-content;
    height: max-content;
}
  
.circle-graphs {
    display: grid;
    margin: auto;
    justify-content: center;
    grid-template-columns: 18em 18em 18em;
}
  
@media (max-width: 80em) {
    .circle-graphs {
      grid-template-columns: 18em 18em;
}
  
.circle-graphs div:nth-child(1) {
        grid-column: auto / span 2;
    }
}
  
@media (max-width: 60em) {
    .circle-graphs {
        grid-template-columns: 18em;
    }
  
    .circle-graphs div:nth-child(1) {
        grid-column: auto / span 1;
    }
}
  
.graph-link {
    display: flex;
}
  
.graph {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 15em;
    width: 15em;
    margin: 1em auto;
    border: 1px solid black;
    /* background-color: var(--success-light); */
}

.graph:focus,
.graph:hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

@media (max-width: 28em) {
    .dashboard-graphs {
        width: 40vw;
    }
  
    .graph {
        width: 50vw;
        height: 50vw;
    }
}

#available-canvas,
#loaned-canvas,
#broken-canvas {
    border-radius: 50%;
    z-index: 9;
    transition: 0.3s ease-out;
}
  
#available-canvas:hover,
#available-canvas:focus,
#loaned-canvas:hover,
#loaned-canvas:focus,
#broken-canvas:hover,
#broken-canvas:focus {
    transform: scale(1.1);
    transition: 0.3s ease-out;
}

.graph-text {
    color: black;
    z-index: 20;
    font-size: 1.25rem;
    font-weight: 100;
}
  
.graph-link {
    display: block;
}
  
.graph-link > p {
    font-weight: 100;
    font-size: 1rem;
    width: 100%;
    margin-top: 3rem;
}

.graph-link > a {
    font-size: 1rem;
}
  
.full_inventory_button {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  
.full_inventory_button:hover,
.full_inventory_button:focus {
    box-shadow: none;
}
  
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  
}
  
.none-display {
    display: none;
}
  
.block-display {
    display: block;
}
  