#contact-full-page {
    position: absolute;
    height: max-content;
    width: 100vw;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#contact-page-content {
    /* min-height: 100vh; */
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-bottom: 10rem;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom right;
}

#contact-page-content > h1,
#contact-page-content > h2 {
    font-weight: 100;
    padding: 0rem 1rem 0rem 1rem;
}

#contact-page-content > h2 {
    font-size: 1.25rem;
}


/* ----------------------------------------------------------- */


/* Contact Card */

.contact-card {
    display: block;
    margin: 4rem auto 6rem auto;
    padding: 2rem;
    height: max-content;
    width: 25rem;
}

#contact-card-header {
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: 0rem;
}

.contact-card input,
.contact-card textarea {
    display: block;
    margin: 1rem auto 1rem auto;
    font-size: 1rem;
    font-weight: 100;
    padding: 0.25rem;
    width: 90%;
}

.contact-card textarea {
    resize: none;
}

#email-sent-message-contact {
    font-weight: 100;
    color: var(--success);
    font-size: 0.8rem;
    text-align: center;
}

.submit-message-button {
    display: block;
    font-size: 1rem;
    margin: 3rem auto 3rem auto;
}


/* ----------------------------------------------------------- */


/* Media Queries */


@media (max-width: 500px) {
    .contact-card {
        max-width: 15rem;
    }
}

@media (max-width: 600px) {
    #contact-page-content {
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: bottom;
    }
}