#login-full-page,
#register-full-page,
#forgot-full-page {
    position: absolute;
    height: max-content;
    width: 100vw;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

#login-full-page .page,
#register-full-page .page,
#forgot-full-page .page {
    width: max-content;
}

/* these media queries are dependant on the size of the forms in each page */
/* this could probably be done dynamically, but for now they need to change if inputs are removed/added */
@media only screen and (min-height: 38rem) {
    #forgot-full-page {
        height: 100vh;
    }
}

@media only screen and (min-height: 43rem) {
    #login-full-page {
        height: 100vh;
    }
}

@media only screen and (min-height: 46rem) {
    #register-full-page {
        height: 100vh;
    }
}

/* ----------------------------------------------------------- */


/* GENERAL */

.fixer-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fixer-wrapper form {
    margin-bottom: 2rem;
    width: 90%;
}

.forgot-link {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 0.75rem;
    margin-top: 1rem;
}

.register-link {
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 0.75rem;
    margin-top: 1rem;
}

#login-form input {
    font-weight: 100;
    font-size: 1rem;
    width: 100%;
    margin: 0rem auto 2rem auto;
}

/* ----------------------------------------------------------- */


/* HEADERS AND TEXT */

#error-text {
    position: absolute;
    top: 11.5rem;
    color: var(--danger);
    font-size: 0.65rem;
    margin-top: 0;
}

.login-header {
    padding-top: 5rem;
}

.login-header > h1,
.login-header > h2,
.login-header > h3 {
    margin: 0.25rem;
}

.login-header > h1 {
    font-weight: 100;
    font-size: 2.8rem;
}

.login-header > h2 {
    font-weight: 100;
    font-size: 1rem;
    margin: 2rem 0.25rem 0rem 0.25rem;
}

.login-header > h3 {
    font-size: 1.5rem;
}

#login-error-message {
    position: fixed;
    margin: 0;
    color: var(--danger);
    font-size: 0.75rem;
    font-weight: 100;
}

#email-sent-message {
    position: fixed;
    margin: 0;
    color: var(--success);
    font-size: 0.75rem;
    font-weight: 100;
}

#email-send-message {
    color: var(--success);
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

/* ----------------------------------------------------------- */


/* INPUTS */

.login-input {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    height: 1.75rem;
    width: 100%;
    box-sizing: border-box;
}

.login-button {
    display: block;
    font-size: 1rem;
    margin: 1rem auto 0rem auto;
    width: max-content;
}

/* ----------------------------------------------------------- */


/* LOGIN PAGE */

.login-card {
    margin-bottom: 5rem;
    padding: 2rem;
    height: 18rem;
}

.resend-card {
    margin-bottom: 5rem;
    padding: 2rem;
    height: 18rem;
}

/* ----------------------------------------------------------- */


/* REGISTER PAGE */

.register-card {
    margin-bottom: 5rem;
    padding: 2rem;
    height: 21rem;
}

.register-card-footer-links {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    bottom: 0;
}

.back-button {
    height: 2rem;
    width: 3.5rem;
    margin-right: 2rem;
}

/* step one */

#register-card-step-one {
    display: block;
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.block-container {
    width: 100%;
    margin-bottom: 2rem;
}

#step-one-header {
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#step-one-header p {
    margin: 0rem auto 0rem auto;
}

#step-one-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

#step-one-buttons-container {
    display: block;
    width: 100%;
    height: max-content;
}

#step-one-buttons-container p {
    font-weight: 100;
    font-size: 1rem;
    margin: 0rem auto 0rem auto;
}

.role-button {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
}

/* step two */

#register-card-step-two {
    display: block;
    text-align: center;
    margin: 2rem auto 2rem auto;
}

#step-two-header {
    font-weight: 100;
    font-size: 1.5rem;
}

#step-two-header p {
    margin: 2rem auto 0rem auto;
}

#step-two-inputs-container input {
    font-weight: 100;
    font-size: 1rem;
    width: 90%;
    margin: 2rem auto 2rem auto;
}

/* step three */

#step-three-inputs-container input {
    font-weight: 100;
    font-size: 1rem;
    /* width: 90%; */
    margin: 0rem auto 2.5rem auto;
}

/* ----------------------------------------------------------- */


/* FORGOT PASSWORD PAGE */

.forgot-password-card {
    margin-bottom: 5rem;
    padding: 2rem;
    height: 13rem;
}

#send-email-button {
    width: 100%;
    margin-top: 2rem;
}

/* ----------------------------------------------------------- */


/* MODAL STYLES */

#not-verified-modal {
    position: fixed;
    height: 10rem;
    width: min(70%, 500px);
    left: 50%;
    transform: translateX(-50%);
    margin-top: calc(100vh / 2 - 8rem);
    z-index: 5;
    background-color: white;
    border: 1px solid rgb(40, 40, 40);
    box-shadow: none;
    text-align: center;
    font-weight: 100;
    line-height: 2rem;
    animation: fadeIn 0.45s;
}

.background-gray {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    animation: fadeIn 0.45s;
}


/* ----------------------------------------------------------- */


/* DISPLAY MODES */

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.disable-scroll {
    overflow: hidden;
}


/* ----------------------------------------------------------- */


/* ANIMATIONS */

/* NOT WORKING - NEED TO DEBUG */
@keyframes fadeInModal {
    0% {
        opacity: 0;
        transform: scaleY(1%);
        /* transform:scale(1%) */
    }

    100% {
        opacity: 1;
        transform: scaleY(100%);
        /* transform: scale(100%); */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Auto Complete Styles TEST */
.no-suggestions-district {
    position: absolute;
    top: 7rem;
    left: 5%;
    color: #999;
    background-color: white;
    border: 1px solid #999;
    border-top: none;
    width: 12.38rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.5rem;
}

.suggestions-district {
    position: absolute;
    top: 7rem;
    left: 5%;
    border: 1px solid #999;
    background-color: white;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    width: 13.38rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    max-height: 143px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 100;
    padding-left: 0;
}

.suggestions-district li {
    padding: 0.5rem;
}

.suggestion-active-district,
.suggestions-district li:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    font-weight: 100;
}


.no-suggestions-site {
    position: absolute;
    top: 10.8rem;
    left: 5%;
    color: #999;
    background-color: white;
    border: 1px solid #999;
    border-top: none;
    width: 12.38rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    padding: 0.5rem;
}

.suggestions-site {
    position: absolute;
    top: 10.8rem;
    left: 5%;
    border: 1px solid #999;
    background-color: white;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    width: 13.38rem;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    max-height: 143px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 100;
    padding-left: 0;
}

.suggestions-site li {
    padding: 0.5rem;
}

.suggestion-active-site,
.suggestions-site li:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    font-weight: 100;
}