#change-password-full-page {
    position: absolute;
    height: max-content;
    width: 100vw;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    text-align: center;
}

#change-password-full-page .page {
    margin: 0 2rem 0 2rem;
}

#change-password-full-page h1 {
    /* font-size: 3.25rem; */
    font-size: clamp(2rem, 10vw, 3.25rem);
    font-weight: 100;
    margin-top: 8rem;
    margin-bottom: 1rem;
}

#change-password-full-page h2 {
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    font-weight: 100;
    margin-bottom: 3rem;
}

#change-password-full-page h2 i {
    font-size: clamp(1.5rem, 5vw, 1.75rem);
    font-weight: 100;
    margin-bottom: 3rem;
    color: var(--primary);
    text-decoration: underline;
}

#change-password-full-page h3 {
    font-size: clamp(1rem, 3vw, 1.15rem);
    font-weight: 100;
    margin-bottom: clamp(3rem, 10vw, 8rem);
}

#change-password-full-page p {
    font-weight: 100;
}

#change-password-full-page a {
    font-weight: 500;
    font-size: 1rem;
}

#change-password-full-page .card {
    margin: auto;
    height: max-content;
}

#congrats-image {
    width: max(10rem, 15vw);
    height: max(10rem, 15vw);
}

.change-password-input {
    display: block;
    font-size: 1rem;
    font-weight: 100;
    height: 1.75rem;
    width: 90%;
    box-sizing: border-box;
    margin: 2rem auto;
}

.change-password-button {
    display: block;
    font-size: 1rem;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    width: 90%;
}