#full-footer {
    width: 100%;
    /* border-top: 1px solid rgb(139, 139, 139); */
}

#full-footer-top {
    display: flex;
    align-items: top;
    padding-top: 1rem;
    padding-bottom: 4rem;
    justify-content: center;
    height: max-content;
    background-color: var(--primary-dark);
}

#links-table {
    width: 80%;
    /* border: 1px solid rgb(34, 34, 34); */
}

#links-table > table {
    padding: 1rem;
    border-collapse: separate;
    border-spacing: 3rem 0.25rem;
    /* font-size: min(0.85rem, 1vw); */
}

#links-table > table td {
    font-weight: 100;
    font-size: 0.85rem;
}

#links-table > table th {
    text-align: left;
}

#full-footer-bottom {
    color: var(--primary-very-light);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: var(--primary-darker);
    font-weight: 100;
}


.no-decoration {
    color: rgb(26, 26, 26);
    display: block;
    justify-self: start;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    font-weight: 100;
    text-align: left;
    /* font-size: min(0.85rem, 1vw); */
}

.no-decoration:hover {
    color: var(--primary-very-light);
    transition: 0.2s;
    cursor: pointer;
}

.no-decoration:active {
    color: rgb(26, 26, 26);
}

.no-decoration:focus {
    color: rgba(26, 26, 26, 0.661);
}

/* ----------------------------------------------------------- */

#links-grid {
    display: grid;
    margin: auto;
    width: 60%;
    grid-template-columns: max-content max-content max-content max-content;
    padding-top: 2rem;
    /* padding-bottom: 1rem; */
}

.links-section {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.links-section-header {
    padding-bottom: 0.5rem;
    font-size: 1.05rem;
    text-align: left;
}

/* ----------------------------------------------------------- */


/* MEDIA QUERIES */
@media (max-width: 880px) {
    #links-grid {
        grid-template-columns: max-content max-content;
    }
}

@media (max-width: 500px) {
    #links-grid {
        grid-template-columns: max-content;
    }
}